<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <style>
        .box {
            display: inline-block;
            margin: 15px;
            height: 250px;
            width: 250px;
        }

        .boxybox {
            display: inline-block;
        }
    </style>

    <div class="con" style="margin: 0 auto;">

        <div class=boxybox>
            <!-- {%for i in range(num):%} -->
            <div class=box style="background-color: {{color}}">hi</div>
            <!-- {%endfor%} -->
        </div>
    </div>
</body>

</html>